/* Base styles */
body {
    background: linear-gradient(1000deg, rgb(164, 164, 213), rgb(204, 204, 190), rgb(162, 162, 186), rgb(188, 188, 166));
}

form#loginForm {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.275);
    padding: 50px;
    border-radius: 15%;
    box-shadow: 8px 6px 6px;
    max-width: 400px;
}

/* Media query for tablets and larger screens */
@media (min-width: 768px) {
    form#loginForm {
        max-width: 600px;
    }
}

/* Media query for desktops and larger screens */
@media (min-width: 992px) {
    form#loginForm {
        max-width: 800px;
    }
}

/* Media query for small screens */
@media (max-width: 767px) {
    form#loginForm {
        margin-top: 50px;
        padding: 30px;
        border-radius: 10%;
    }

    h5 {
        font-size: 1.2rem;
    }

    .form-label {
        font-size: 0.9rem;
    }

    .btn {
        margin-left: 0;
        width: 100%;
    }
}
